@{
    ViewData["Title"] = "Zresetuj klucz uwierzytelniajacy";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz swój klucz uwierzytelniający, aplikacja uwierzytelniająca nie będzie działać, dopóki nie zmienisz jej konfiguracji.</strong>
    </p>
    <p>
        Ten proces powoduje wyłączenie usługi 2FA, dopóki nie zweryfikujesz aplikacji uwierzytelniającej, a także zresetuje kody odzyskiwania 2FA.
        Jeśli nie zakończysz konfiguracji aplikacji uwierzytelniającej, możesz utracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniajacy</button>
    </form>
</div>