@{
    ViewData["Title"] = "Kontakt";
    ViewData["Message"] = "Strona kontaktowa";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Zespol Microsoft<br />
    Poznan, <br />
    <abbr title="telefon">T:</abbr>
    123 456 789
</address>

<address>
    <strong>Wsparcie:</strong> <a href="mailto:fajnymichal@email.com">fajnymichal@email.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hubert@email.com">hubert@email.com</a>
</address>
