@model CarRental.Models.Cars

@{
    ViewData["Title"] = "Delete";
}

<h2>Oddaj Samochód</h2>

<h3>Czy napewno chcesz oddać ten samochód?</h3>
<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>
            Model
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            Kategoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            Dostępność
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCar" />
        <input type="submit" value="Tak oddaj samochód" class="btn btn-default" /> 
        <a asp-action="Index">Anuluj</a>
    </form>
</div>
