@model CarRental.Models.Cars

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>
            Model
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            Kategoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            Dostępność
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
    </dl>
</div>

